<%= stylesheet_link_tag 'registrationsNew', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="registrationsNew-all">
  <h2>アカウント作成</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :パスワードの確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <% if resource.errors[:password_confirmation].any? %>
        <div class="error_message">
          <%= resource.errors[:password_confirmation].join(', ') %>
        </div>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "アカウント作成" %>
    </div>
  <% end %>

  <hr>

  <div class="registrationsNew-link">
    <%= link_to "ログイン", new_user_session_path %></br>
    <%= link_to "戻る", root_path %>
  </div>
</div>