<%= stylesheet_link_tag 'postsNew', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="postsNew-all">
    <div>
        <%= form.label :タイトル %><br>
        <%= form.text_field :title %>
    </div>
    <div>
    
        <%= form.label :内容 %><br>
        <%= form.text_area :content %> 
    </div>
    <div>
        <%= form.label :電話番号 %><br>
        <%= form.text_area :phoneNumber %>
    </div>
    <div>
        <%= form.label :画像 %><br>
        <%= form.file_field :image, accept: "image/*" %>
    </div>
    <div>
        <%= form.submit "送信" %>
    </div>
</div>
