<%= stylesheet_link_tag 'postsIndex', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="postsIndex-all">
    <% if user_signed_in?  %>
        <div class="postsForm-all">
            <h1>新規・更新投稿フォーム</h1>
            <%= form_with model: @post, local: true, html: { multipart: true } do |form| %>
                <% if @post.new_record? %> <!-- 既にデータベースに保存されているか？ -->
                    <%= render :partial => 'new', :locals => {:form => form} %>
                <% else %>
                    <%= render :partial => 'edit', :locals => {:form => form} %>
                <% end %>
            <% end %>
        </div>
    <% end %>

    <h1>投稿一覧</h1>
    <% @posts.each do |post| %>
        <div class="postsContainer">
            <p class="iconImg"><%= image_tag post.user.avatar if post.user.avatar.present? %></p>
            <p>投稿者ID：<%= link_to( post.user_id, user_path(id: post.user_id)) %></p>
            <p>投稿ID：<%= link_to( post.id, post_path(id: post.id))%></p>
            <p>タイトル</p>
            <span><%= post.title %></span>

            <p>内容</p>
            <span><%= post.content %></span>

            <p>電話番号</p>
            <span><%= post.phoneNumber %></span></br>

            <% if post.image.attached? %>
                <%= image_tag post.image, size: "150x150" %></br>
            <% else %>
                <%= image_tag '/images/default.jpg', size: "150x150" %></br>
            <% end %>

            <% if user_signed_in? %>
                <div class="postsIndex-link">
                    <div class="edit_post_link">
                        <%= link_to "編集", posts_path(id: post.id) %>
                    </div>
                    <div class="destroy_post_link">
                        <%= link_to "削除", "/posts/#{post.id}/destroy", method: :delete %></br>
                    </div>
                </div>
            <% end %>

            <% if user_signed_in? %>
                <% if post.favorited_by?(current_user) %>
                    <%= link_to "♥", "/posts/#{post.id}/favorites/destroy" %>
                <% else %>
                    <%= link_to "♡", "/posts/#{post.id}/favorites/create" %>
                <% end %>
            <% end %>

            <%= post.favorites.count %> いいね

            <% if user_signed_in? %>
                <% if current_user != post.user %>
                    <% if current_user.following?(post.user) %>
                        <%= link_to "フォロー外す", "/users/#{post.user.id}/relationships/destroy" %>
                    <% else %>
                        <%= link_to "フォローする", "/users/#{post.user.id}/relationships/create" %>
                    <% end %>
                <% end %>
            <% end %>

            <p>フォロー数</p>
            <%= link_to( post.user.followings.count,  user_followings_path(user_id: post.user.id))%>
            <p>フォロワー数</p>
            <%= link_to( post.user.followers.count,  user_followers_path(user_id: post.user.id)) %>

            <p>コメント</p>
            <%= link_to "コメントする", "/posts/#{post.id}/post_comments/new" %>

            <p>コメント件数：<%= post.post_comments.count %></p>

            <% post.post_comments.each do |post_comment| %>
                <%= post_comment.comment %>
                <% if post_comment.user == current_user %>
                    <%= link_to "削除", "post_comments/#{post_comment.id}/destroy" %>
                <% end %>
                </br>
            <% end %>
        </div>
    <% end %>
</div>


