<%= stylesheet_link_tag 'postsIndex', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="postsIndex-all">
    <% if user_signed_in?  %>
        <div class="postsForm-all">
            <h1>新規・更新投稿フォーム</h1>
            <%= form_with model: @post, local: true do |form| %>
                <% if @post.new_record? %> <!-- 既にデータベースに保存されているか？ -->
                    <%= render :partial => 'new', :locals => {:form => form} %>
                <% else %>
                    <%= render :partial => 'edit', :locals => {:form => form} %>
                <% end %>
            <% end %>
        </div>
    <% end %>

    <h1>投稿一覧</h1>
    <% @posts.each do |post| %>
        <div class="postsContainer">
            <%= link_to( post.user_id, "/users/#{post.user_id}") %>
            <p>タイトル</p>
            <span><%= post.title %></span>
            <p>内容</p>
            <span><%= post.content %></span>
            <p>電話番号</p>
            <span><%= post.phone_number %></span>
            <% if user_signed_in? %>
                <div class="postsIndex-link">
                    <div class="edit_post_link">
                        <%= link_to "編集", posts_path(id: post.id) %>
                    </div>
                    <div class="destroy_post_link">
                        <%= link_to "削除", "/posts/#{post.id}/destroy", method: :delete %></br>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>


